# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [60]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,73.89,38,88,4.34,overcast clouds
1,1,Cayenne,GF,4.9333,-52.3333,75.24,100,40,0.00,scattered clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,35.26,87,75,9.22,broken clouds
3,3,Yellowknife,CA,62.4560,-114.3525,32.56,74,100,24.16,light snow
4,4,Mahibadhoo,MV,3.7833,72.9667,81.43,79,91,20.98,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [61]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [62]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)] 
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,73.89,38,88,4.34,overcast clouds
1,1,Cayenne,GF,4.9333,-52.3333,75.24,100,40,0.00,scattered clouds
9,9,Sao Filipe,CV,14.8961,-24.4956,79.03,80,87,6.08,light rain
10,10,Harper,LR,4.3750,-7.7169,75.88,88,100,7.00,overcast clouds
14,14,Airai,TL,-8.9266,125.4092,71.22,64,99,1.54,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
650,650,Auki,SB,-8.7676,160.7034,79.00,82,93,3.31,overcast clouds
652,652,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,77.79,34,60,3.44,broken clouds
653,653,Porangatu,BR,-13.4408,-49.1486,79.27,30,69,4.03,broken clouds
659,659,Kanungu,UG,-0.9575,29.7897,71.60,67,99,3.56,light rain
666,666,Yichang,CN,30.7144,111.2847,74.57,23,11,4.00,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [63]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
preferred_cities_df.isna().sum()
preferred_cities_df.dropna()
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.tail()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
650,650,Auki,SB,-8.7676,160.7034,79.00,82,93,3.31,overcast clouds
652,652,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,77.79,34,60,3.44,broken clouds
653,653,Porangatu,BR,-13.4408,-49.1486,79.27,30,69,4.03,broken clouds
659,659,Kanungu,UG,-0.9575,29.7897,71.60,67,99,3.56,light rain
666,666,Yichang,CN,30.7144,111.2847,74.57,23,11,4.00,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [64]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
selected_columns = clean_travel_cities[["City","Country","Max Temp", "Current Description", "Lat", "Lng"]]
hotel_df = selected_columns.copy()

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng
0,Jalu,LY,73.89,overcast clouds,29.0331,21.5482
1,Cayenne,GF,75.24,scattered clouds,4.9333,-52.3333
9,Sao Filipe,CV,79.03,light rain,14.8961,-24.4956
10,Harper,LR,75.88,overcast clouds,4.3750,-7.7169
14,Airai,TL,71.22,overcast clouds,-8.9266,125.4092
...,...,...,...,...,...,...
650,Auki,SB,79.00,overcast clouds,-8.7676,160.7034
652,Sao Miguel Do Araguaia,BR,77.79,broken clouds,-13.2750,-50.1628
653,Porangatu,BR,79.27,broken clouds,-13.4408,-49.1486
659,Kanungu,UG,71.60,light rain,-0.9575,29.7897
666,Yichang,CN,74.57,few clouds,30.7144,111.2847

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [72]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = np.nan
# Display sample data
hotel_df = hotel_df.reset_index()
hotel_df

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Jalu,LY,73.89,overcast clouds,29.0331,21.5482,NaN
1,1,Cayenne,GF,75.24,scattered clouds,4.9333,-52.3333,NaN
2,9,Sao Filipe,CV,79.03,light rain,14.8961,-24.4956,NaN
3,10,Harper,LR,75.88,overcast clouds,4.3750,-7.7169,NaN
4,14,Airai,TL,71.22,overcast clouds,-8.9266,125.4092,NaN
...,...,...,...,...,...,...,...,...
158,650,Auki,SB,79.00,overcast clouds,-8.7676,160.7034,NaN
159,652,Sao Miguel Do Araguaia,BR,77.79,broken clouds,-13.2750,-50.1628,NaN
160,653,Porangatu,BR,79.27,broken clouds,-13.4408,-49.1486,NaN
161,659,Kanungu,UG,71.60,light rain,-0.9575,29.7897,NaN
162,666,Yichang,CN,74.57,few clouds,30.7144,111.2847,NaN

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [73]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [74]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = hotel_df.iloc[index]["Lat"]
    print("Lat: ", lat)
    lng = hotel_df.iloc[index]["Lng"]
    print("lng: ", lng)
    print("index: ", index)
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    query_url = base_url+"?"+"location="+ str(lat)+"," + str(lng) +"&type=lodging&radius=1500&key="+g_key
#     print("query_url: ", query_url)

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(query_url).json()
#     print(hotels)
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
    hotel_df.head()

Lat:  29.0331
lng:  21.5482
index:  0
Lat:  4.9333
lng:  -52.3333
index:  1
Lat:  14.8961
lng:  -24.4956
index:  2
Lat:  4.375
lng:  -7.7169
index:  3
Lat:  -8.9266
lng:  125.4092
index:  4
Hotel not found... skipping.
Lat:  5.65
lng:  36.65
index:  5
Hotel not found... skipping.
Lat:  -20.4081
lng:  57.7
index:  6
Lat:  17.4924
lng:  44.1277
index:  7
Lat:  37.1041
lng:  -113.5841
index:  8
Lat:  10.2511
lng:  -74.9146
index:  9
Lat:  -7.3817
lng:  108.2082
index:  10
Lat:  16.8634
lng:  -99.8901
index:  11
Lat:  -4.2761
lng:  -55.9836
index:  12
Lat:  -21.3585
lng:  55.7679
index:  13
Lat:  -33.918
lng:  25.5701
index:  14
Lat:  -6.75
lng:  23.95
index:  15
Hotel not found... skipping.
Lat:  -21.2078
lng:  -159.775
index:  16
Lat:  -16.4833
lng:  -151.75
index:  17
Lat:  3.25
lng:  19.7667
index:  18
Lat:  10.6317
lng:  -71.6406
index:  19
Lat:  15.1333
lng:  -23.2167
index:  20
Lat:  7.0017
lng:  -76.2672
index:  21
Lat:  -21.2
lng:  -175.2
index:  22
Hotel not found... skipping.
Lat:  -9.8
lng:  -139.0333
index:  23
Lat:  35.3614
lng:  35.9256
index:  24
Lat:  4.8699
lng:  -2.2405
index:  25
Lat:  -20.5167
lng:  57.5167
index:  26
Lat:  38.5167
lng:  -28.7
index:  27
Lat:  -8.8368
lng:  13.2343
index:  28
Lat:  -10.4389
lng:  -62.4664
index:  29
Lat:  -20.0064
lng:  57.6608
index:  30
Lat:  -15.8631
lng:  -38.8828
index:  31
Lat:  -1.85
lng:  34.7
index:  32
Hotel not found... skipping.
Lat:  35.1333
lng:  140.3
index:  33
Lat:  -16.7
lng:  -151.0167
index:  34
Lat:  -14.4547
lng:  -56.8028
index:  35
Lat:  -19.55
lng:  169.2667
index:  36
Lat:  -24.8667
lng:  113.6333
index:  37
Hotel not found... skipping.
Lat:  -19.9842
lng:  57.6142
index:  38
Lat:  -4.13
lng:  -44.1242
index:  39
Lat:  35.5729
lng:  53.3971
index:  40
Lat:  -20.3428
lng:  57.7575
index:  41
Lat:  32.7559
lng:  -111.5548
index:  42
Lat:  7.9986
lng:  124.2928
index:  43
Lat:  0.439
lng:  33.2032
index:  44
Lat:  20.7147
lng:  -77.9956
index:  45
Hotel not found... skipping.
Lat:  33.8464
lng:  -118.0467
index:  46
Lat:  -16.5167
lng:  -151.75
index:  47
Lat:  8.1222
lng:  -63.5497
index:  48
Lat:  27.0531
lng:  -82.4243
index:  49
Lat:  -5.1989
lng:  -35.4608
index:  50
Lat:  -6.1722
lng:  35.7395
index:  51
Lat:  -16.7725
lng:  31.5838
index:  52
Hotel not found... skipping.
Lat:  9.9694
lng:  -71.1494
index:  53
Hotel not found... skipping.
Lat:  4.8845
lng:  -1.7554
index:  54
Lat:  5.7947
lng:  0.8973
index:  55
Lat:  38.421
lng:  -121.4238
index:  56
Hotel not found... skipping.
Lat:  9.9833
lng:  10.9333
index:  57
Hotel not found... skipping.
Lat:  -2.1667
lng:  16.2333
index:  58
Lat:  12.2833
lng:  -10.9667
index:  59
Hotel not found... skipping.
Lat:  -14.0678
lng:  32.4392
index:  60
Lat:  -14.9003
lng:  50.2788
index:  61
Lat:  6.5833
lng:  3.75
index:  62
Hotel not found... skipping.
Lat:  -7.2294
lng:  -44.5561
index:  63
Lat:  37.7333
lng:  -25.6667
index:  64
Lat:  -14.4086
lng:  -56.4461
index:  65
Lat:  -6.2222
lng:  -57.7528
index:  66
Lat:  -11.2061
lng:  13.8437
index:  67
Lat:  -2.9248
lng:  -39.9167
index:  68
Lat:  -22.2763
lng:  166.4572
index:  69
Lat:  -5.95
lng:  34.1333
index:  70
Hotel not found... skipping.
Lat:  -28.783
lng:  32.0377
index:  71
Lat:  -22.4
lng:  46.1167
index:  72
Lat:  -22.6667
lng:  167.4833
index:  73
Lat:  -12.0167
lng:  17.4833
index:  74
Hotel not found... skipping.
Lat:  -7.0
lng:  23.45
index:  75
Lat:  25.5198
lng:  90.2201
index:  76
Lat:  4.9247
lng:  6.2642
index:  77
Lat:  5.3998
lng:  26.4869
index:  78
Hotel not found... skipping.
Lat:  -15.1961
lng:  12.1522
index:  79
Lat:  -9.8756
lng:  -56.0861
index:  80
Lat:  -27.1578
lng:  -48.5531
index:  81
Lat:  -8.8978
lng:  -35.1478
index:  82
Lat:  29.2167
lng:  79.5167
index:  83
Lat:  -7.6142
lng:  -72.8958
index:  84
Lat:  4.95
lng:  -6.0833
index:  85
Lat:  28.3667
lng:  129.4833
index:  86
Lat:  -17.8786
lng:  36.8883
index:  87
Lat:  5.3833
lng:  -52.95
index:  88
Lat:  -0.4819
lng:  15.8999
index:  89
Lat:  -21.3667
lng:  55.6167
index:  90
Lat:  -21.6403
lng:  -41.0511
index:  91
Lat:  -2.85
lng:  11.0333
index:  92
Hotel not found... skipping.
Lat:  18.65
lng:  -74.1167
index:  93
Lat:  23.45
lng:  -110.2167
index:  94
Lat:  17.0818
lng:  122.4157
index:  95
Hotel not found... skipping.
Lat:  15.85
lng:  -97.0667
index:  96
Lat:  26.5
lng:  -100.1667
index:  97
Lat:  -3.2033
lng:  -52.2064
index:  98
Lat:  -22.9661
lng:  -42.0278
index:  99
Lat:  18.7333
lng:  -103.6833
index:  100
Hotel not found... skipping.
Lat:  -19.1164
lng:  33.4833
index:  101
Lat:  26.4456
lng:  91.4354
index:  102
Lat:  21.3469
lng:  -158.0858
index:  103
Lat:  -0.1303
lng:  -67.0892
index:  104
Lat:  32.767
lng:  22.6367
index:  105
Lat:  36.9357
lng:  -2.1337
index:  106
Lat:  31.2089
lng:  16.5887
index:  107
Lat:  -16.3494
lng:  -53.7583
index:  108
Lat:  36.8252
lng:  -119.7029
index:  109
Lat:  26.557
lng:  31.6948
index:  110
Lat:  -20.2333
lng:  164.0167
index:  111
Hotel not found... skipping.
Lat:  -7.125
lng:  -34.9322
index:  112
Lat:  -17.0667
lng:  15.7333
index:  113
Lat:  33.2833
lng:  134.15
index:  114
Lat:  -6.3164
lng:  155.4848
index:  115
Hotel not found... skipping.
Lat:  -2.8856
lng:  -40.12
index:  116
Lat:  30.7554
lng:  20.2263
index:  117
Lat:  7.5264
lng:  -12.505
index:  118
Lat:  31.7561
lng:  25.0865
index:  119
Lat:  9.0622
lng:  -62.051
index:  120
Lat:  4.095
lng:  30.6779
index:  121
Lat:  -13.2325
lng:  30.2352
index:  122
Lat:  -5.1206
lng:  -60.3797
index:  123
Lat:  -8.1642
lng:  -70.3536
index:  124
Lat:  -3.7703
lng:  -70.3831
index:  125
Lat:  -17.7125
lng:  -39.2481
index:  126
Hotel not found... skipping.
Lat:  13.0833
lng:  109.3
index:  127
Lat:  -0.6136
lng:  -47.3561
index:  128
Lat:  41.8363
lng:  59.9666
index:  129
Lat:  5.6592
lng:  -53.7767
index:  130
Lat:  -17.3667
lng:  49.4167
index:  131
Hotel not found... skipping.
Lat:  37.7167
lng:  -25.4333
index:  132
Lat:  -3.2828
lng:  30.9642
index:  133
Lat:  30.3222
lng:  35.4793
index:  134
Lat:  3.0833
lng:  -59.95
index:  135
Hotel not found... skipping.
Lat:  -3.4626
lng:  120.2147
index:  136
Hotel not found... skipping.
Lat:  7.0653
lng:  -73.8547
index:  137
Lat:  20.7
lng:  -105.2
index:  138
Lat:  -5.3166
lng:  119.3661
index:  139
Lat:  4.25
lng:  -54.3833
index:  140
Lat:  8.5063
lng:  -77.2778
index:  141
Lat:  15.7432
lng:  -96.4661
index:  142
Lat:  16.8901
lng:  -24.9804
index:  143
Lat:  1.6481
lng:  14.5806
index:  144
Hotel not found... skipping.
Lat:  -17.0167
lng:  48.5833
index:  145
Lat:  35.7333
lng:  140.8333
index:  146
Lat:  13.2019
lng:  -16.7339
index:  147
Hotel not found... skipping.
Lat:  -8.7537
lng:  148.2534
index:  148
Lat:  -2.4431
lng:  -54.7083
index:  149
Lat:  -18.65
lng:  -173.9833
index:  150
Lat:  -19.0595
lng:  -169.9187
index:  151
Lat:  13.5928
lng:  -89.8275
index:  152
Lat:  -1.195
lng:  -46.02
index:  153
Lat:  40.5067
lng:  46.825
index:  154
Lat:  -9.4333
lng:  159.95
index:  155
Lat:  32.0728
lng:  64.8359
index:  156
Hotel not found... skipping.
Lat:  20.0247
lng:  -75.8219
index:  157
Lat:  -8.7676
lng:  160.7034
index:  158
Lat:  -13.275
lng:  -50.1628
index:  159
Lat:  -13.4408
lng:  -49.1486
index:  160
Lat:  -0.9575
lng:  29.7897
index:  161
Hotel not found... skipping.
Lat:  30.7144
lng:  111.2847
index:  162

In [79]:
# Display sample data
hotel_df.head()
hotel_df.isna().sum()

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Jalu,LY,73.89,overcast clouds,29.0331,21.5482,صاحبة الفخامة
1,1,Cayenne,GF,75.24,scattered clouds,4.9333,-52.3333,Hôtel Le Dronmi
2,9,Sao Filipe,CV,79.03,light rain,14.8961,-24.4956,Hotel Xaguate
3,10,Harper,LR,75.88,overcast clouds,4.3750,-7.7169,Screensaver
6,26,Mahebourg,MU,77.29,scattered clouds,-20.4081,57.7000,3Ds International Tourist Home
...,...,...,...,...,...,...,...,...
157,642,Santiago De Cuba,CU,73.00,broken clouds,20.0247,-75.8219,Cubanacan San Felix
158,650,Auki,SB,79.00,overcast clouds,-8.7676,160.7034,Auki Motel
159,652,Sao Miguel Do Araguaia,BR,77.79,broken clouds,-13.2750,-50.1628,Hotel Veredas do Araguaia
160,653,Porangatu,BR,79.27,broken clouds,-13.4408,-49.1486,Wembley Park Hotel
162,666,Yichang,CN,74.57,few clouds,30.7144,111.2847,Gezhouba Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [82]:
# Drop the rows where there is no Hotel Name.
hotel_df.isna().sum()
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.isna().sum()
clean_hotel_df.head(10)

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Jalu,LY,73.89,overcast clouds,29.0331,21.5482,صاحبة الفخامة
1,1,Cayenne,GF,75.24,scattered clouds,4.9333,-52.3333,Hôtel Le Dronmi
2,9,Sao Filipe,CV,79.03,light rain,14.8961,-24.4956,Hotel Xaguate
3,10,Harper,LR,75.88,overcast clouds,4.3750,-7.7169,Screensaver
6,26,Mahebourg,MU,77.29,scattered clouds,-20.4081,57.7000,3Ds International Tourist Home
7,27,Najran,SA,79.45,clear sky,17.4924,44.1277,محمد هادي ال فطيح
8,31,Saint George,US,70.39,clear sky,37.1041,-113.5841,Best Western Coral Hills
9,38,Calamar,CO,76.19,scattered clouds,10.2511,-74.9146,Hostal Katyalex
10,40,Kawalu,ID,77.05,overcast clouds,-7.3817,108.2082,Kosan ibu oom
11,42,Acapulco,MX,76.82,overcast clouds,16.8634,-99.8901,Hotel Krystal Beach Acapulco

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [95]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"# YOUR CODE HERE

# Create a CSV file by using the clean_hotel_df DataFrame
# Export the City_Data into a CSV.
clean_hotel_df.to_csv(output_data_file, index_label="Hotel_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [96]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [97]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>صاحبة الفخامة</dd>\n<dt>City</dt><dd>Jalu</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>light rain and 79.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Screensaver</dd>\n<dt>City</dt><dd>Harper</dd>\n<dt>Country</dt><dd>LR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>3Ds International Tourist Home</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>محمد هادي ال فطيح</dd>\n<dt>City</dt><dd>Najran</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Coral Hills</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hostal Katyalex</dd>\n<dt>City</dt><dd>Calamar</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kosan ibu oom</dd>\n<dt>City</dt><dd>Kawalu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Krystal Beach Acapulco</dd>\n<dt>City</dt><dd>Acapulco</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.82 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [98]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
# max_temp = clean_hotel_df[["Max Temp"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   29.0331   21.5482
1    4.9333  -52.3333
2   14.8961  -24.4956
3    4.3750   -7.7169
6  -20.4081   57.7000
7   17.4924   44.1277
8   37.1041 -113.5841
9   10.2511  -74.9146
10  -7.3817  108.2082
11  16.8634  -99.8901

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [99]:
# Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
#              dissipating=False, max_intensity=300, point_radius=4)

# Create a figure to add the Google map as a layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))